<h4> /materias --> lista las materias </h4>
<h4> //"id" --> muestra el detalle de la materia con el id ingresado </h4>


<h4> //materianew --> permite el ingreso de una materia, por POST </h4>


<br>
<h4> /profesores --> lista los profesores </h4>
<h4> //"id" --> muestra el detalle del profesor con el id ingresado  </h4>
<h4> //"id"/materias --> lista las materias del profesor con el id ingresado  </h4>


<h4> //profesornew --> permite el ingreso de un profesor, por POST </h4>
<h4> //"id"/materianew --> permite la asignacion de una materia al profesor con el id ingresado, por POST  </h4>
